name: Regenerate Playlists

on:
  repository_dispatch:
  schedule:
  #       ┌───────────── minute (0 - 59)
  #       │ ┌───────────── hour (0 - 23)
  #       │ │ ┌───────────── day of the month (1 - 31)
  #       │ │ │ ┌───────────── month (1 - 12)
  #       │ │ │ │ ┌───────────── day of the week (0 - 6) (Sunday to Saturday;
  #       │ │ │ │ │                                   7 is also Sunday on some systems)
  #       │ │ │ │ │
  #       │ │ │ │ │
  #       * * * * *
  - cron: 0 9 * * 1

jobs:
  regenerate-playlists:
    name: Regenerate Playlists
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1.0.0
    - name: Regenerate
      uses: ./
      env:
        SPOTIFY_CLIENT_ID: ${{ secrets.SPOTIFY_CLIENT_ID }}
        SPOTIFY_CLIENT_SECRET: ${{ secrets.SPOTIFY_CLIENT_SECRET }}
        SPOTIFY_REFRESH_TOKEN: ${{ secrets.SPOTIFY_REFRESH_TOKEN }}
